body {
    background-image: url('{{request.base_url[:-4] + url_for('static', filename='assets/back.jpg')}}');
    margin: auto;
    display: block;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-image: url('{{request.base_url[:-4] + url_for('static', filename='assets/backdrop.jpg')}}');
    background-size: cover;
    height: 25vh;
    width: 100vw;
    position: sticky;
    top:0px;
    right:0px;
    filter:grayscale(0.5);
    z-index: 1;
}
.selector {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 6vh;
    position:sticky;
    top:0px;
    right:0px;
    z-index: 2;
}
button {
    border:none;
    outline: none;
}
button.selector {
    background-color: transparent;
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size: 3vh;
    z-index:3;
    overflow:hidden;
}
.footer {
    position: sticky;
    top: 95vh;
    left: 0px;
    height: 5vh;
    width: 100vw;
    background-color: rgb(25,25,25);
 }
